# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**# Objectives:**
- Basic of DataScience
- Different tools used for DataScience
- Languages can be used for DataScience
- Basic idea of Languages used in DataScience
- Different API's used
- Jupiter Notebook

## Author
Lokesh Suthar

Some of the popular languages that Data Scientists use are:
Python
R
SQL
Java
C/C++
JavaScript

Some of the commonly used libraries used by Data Scientists include:
TensorFlow
NumPy
SciPy
Pandas
Matplotlib
Scikit-Learn
PyTorch

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335